<!-- wp:group {"style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}}},"backgroundColor":"secondary","layout":{"type":"constrained"}} -->
<div class="wp-block-group has-secondary-background-color has-background" style="padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px"><!-- wp:columns {"align":"full","style":{"spacing":{"padding":{"top":"2rem","bottom":"2rem","right":"5rem","left":"5rem"}}}} -->
    <div class="wp-block-columns alignfull" style="padding-top:2rem;padding-right:5rem;padding-bottom:2rem;padding-left:5rem"><!-- wp:column {"verticalAlignment":"top"} -->
    <div class="wp-block-column is-vertically-aligned-top"><!-- wp:image {"id":335,"sizeSlug":"large","linkDestination":"none"} -->
    <figure class="wp-block-image size-large"><img src="http://lecran-dapres.local/wp-content/uploads/2022/10/Groupe-108.svg" alt="" class="wp-image-335"/></figure>
    <!-- /wp:image -->
    
    <!-- wp:spacer {"height":"2rem"} -->
    <div style="height:2rem" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->
    
    <!-- wp:paragraph {"fontSize":"small"} -->
    <p class="has-small-font-size">Afin de limiter son impact environnemental, ce site est écoconçu</p>
    <!-- /wp:paragraph -->
    
    <!-- wp:paragraph {"fontSize":"small"} -->
    <p class="has-small-font-size">©2022 L'écran d'après ● Tous droits réservés</p>
    <!-- /wp:paragraph --></div>
    <!-- /wp:column -->
    
    <!-- wp:column {"layout":{"type":"constrained","justifyContent":"right"},"fontSize":"medium"} -->
    <div class="wp-block-column has-medium-font-size"><!-- wp:heading {"textAlign":"right","level":3,"style":{"typography":{"fontSize":"26px"}}} -->
    <h3 class="has-text-align-right" style="font-size:26px">Contactez-nous</h3>
    <!-- /wp:heading -->
    
    <!-- wp:paragraph {"align":"right","style":{"typography":{"fontSize":"20px"}}} -->
    <p class="has-text-align-right" style="font-size:20px"><a href="mailto:contact@lecrandapres.com" target="_blank" rel="noreferrer noopener">contact@lecrandapres.com</a></p>
    <!-- /wp:paragraph -->
    
    <!-- wp:spacer {"height":"2.5rem"} -->
    <div style="height:2.5rem" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->
    
    <!-- wp:paragraph {"align":"right","fontSize":"small"} -->
    <p class="has-text-align-right has-small-font-size">Le lexique de l'écran d'après</p>
    <!-- /wp:paragraph -->
    
    <!-- wp:paragraph {"align":"right","fontSize":"small"} -->
    <p class="has-text-align-right has-small-font-size">Politique de confidentialité</p>
    <!-- /wp:paragraph --></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns --></div>
    <!-- /wp:group -->