<!-- wp:group {"style":{"elements":{"link":{"color":{"text":"var:preset|color|primary"}}},"spacing":{"padding":{"top":"1rem","right":"1rem","bottom":"1rem","left":"1rem"}}},"backgroundColor":"contrast","textColor":"primary","layout":{"type":"default"}} -->
<div class="wp-block-group has-primary-color has-contrast-background-color has-text-color has-background has-link-color" style="padding-top:1rem;padding-right:1rem;padding-bottom:1rem;padding-left:1rem"><!-- wp:group {"align":"wide","style":{"spacing":{}},"layout":{"type":"flex","justifyContent":"space-between"}} -->
	<div class="wp-block-group alignwide"><!-- wp:site-logo {"width":250,"shouldSyncIcon":false,"style":{"spacing":{"margin":{"top":"0rem","right":"0rem","bottom":"0rem","left":"0rem"}}}} /-->
	
	<!-- wp:navigation {"ref":7,"icon":"menu","layout":{"type":"flex","justifyContent":"center","orientation":"horizontal","flexWrap":"wrap"},"style":{"typography":{"fontSize":"16px"},"spacing":{"blockGap":"2rem"}}} /--></div>
	<!-- /wp:group --></div>
	<!-- /wp:group -->