/*!
Theme Name: Twenty Twenty-Three
Theme URI: https://wordpress.org/themes/twentytwentythree
Author: the WordPress team
Author URI: https://wordpress.org
Description: Twenty Twenty-Three is a diverse, collaborative effort designed with the expansion of the possibilities of the block editor in mind. With a blank, unopinionated base as a starting point, this year’s default theme has minimal demo content to get in your way. It embraces aesthetic diversity with a collection of style variations created by members of the WordPress Community, and it is built to take advantage of the new tools introduced in WordPress 6.1. Whether you want to build a complex or incredibly simple website, you can style it the way you want it, and you can do it quickly and intuitively through the bundled styles or dive into creation and full customisation yourself.
Requires at least: 6.1
Tested up to: 6.1
Requires PHP: 5.6
Version: 1.0
License: GNU General Public License v2 or later
License URI: https://www.gnu.org/licenses/old-licenses/gpl-2.0.html
Text Domain: twentytwentythree
Tags: one-column, custom-colors, custom-menu, custom-logo, editor-style, featured-images, full-site-editing, rtl-language-support, theme-options, threaded-comments, translation-ready, wide-blocks
*/

$menu_breakpoint: 900px;
$breakpoint_mobil: 900px;

nav {

	@media screen and (min-width: $menu_breakpoint) {

		.wp-block-navigation__responsive-container-open:not(.always-shown) {
			display: none;
		}
	}

	@media screen and (max-width: $menu_breakpoint) {

		.wp-block-navigation__responsive-container-open:not(.always-shown) {
			display: flex;
		}
	}

	@media screen and (min-width: $menu_breakpoint) {

		.wp-block-navigation__responsive-container:not(.hidden-by-default):not(.is-menu-open) {
			display: block;
			width: 100%;
			position: relative;
			z-index: auto;
			background-color: inherit;
		}
	}

	@media screen and (max-width: $menu_breakpoint) {

		.wp-block-navigation__responsive-container:not(.hidden-by-default):not(.is-menu-open) {
			display: none;
			position: fixed;
		}
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 900px) {

	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: flex;
	}
}

nav.wp-block-navigation {

	.wp-block-navigation__responsive-container-close {

		svg {
			width: 2rem;
			height: 2rem;
		}
	}
}

@media (max-width: 1200px) {

	.custom-logo {
		width: 90%;
	}
}


@media (max-width: 782px) {

	footer {

		.wp-block-column > * {
			text-align: center;
		}
	}
}

.wp-block-navigation__responsive-container-content .wp-block-navigation__container .is-style-blue-background {
	color: var(--wp--preset--color--contrast);
	background-color: var(--wp--preset--color--secondary);
	border-radius: 40px;
	padding: 0.5rem 1rem;
}

.image-is-left {
	position: relative;
	left: -100px;
}

.block-left-screen {
	border: 1px solid white;
	border-radius: 40px;
	transform: translateX(calc(-1 * (100vw - var(--wp--style--global--wide-size)) / 2));

	> * {
		transform: translateX(calc((100vw - var(--wp--style--global--wide-size)) / 2));
		position: relative;

		.wp-block-button {
			position: absolute;
			bottom: -77px;
			right: -105px;
		}

		h2 {
			width: 25rem;
		}
	}
}

.block-right-screen-background {
	border-radius: 40px;
	transform: translateX(calc(1 * (100vw - var(--wp--style--global--wide-size)) / 3));

	> * {
		transform: translateX(calc(-1 * (100vw - var(--wp--style--global--wide-size)) / 3));

		.wp-block-group {
			width: 400px;
		}
	}
}

.is-style-no-background-button {

	> * {
		background-color: transparent;
		border: 1px solid var(--wp--preset--color--primary);
	}

	::after {
		content: " >";
		position: relative;
		top: 1px;
	}
}

.align-buttons {

	> * {

		> * {
			border-width: 2px;
			width: 11.3rem;
			height: 15rem;
			text-align: left;
		}
	}
}

.timeline {

	> * {
		position: relative;
		top: -25px;
	}

	.wp-image-362 {
		position: relative;
		top: -127px;
		left: -40px;
	}
}

.block-left-screen-background {
	border-radius: 40px;
	transform: translateX(calc(-1 * (100vw - var(--wp--style--global--wide-size)) / 4));

	> * {
		width: calc(100% - ((100vw - var(--wp--style--global--wide-size)) / 4));
		padding-left: calc(20px + ((100vw - var(--wp--style--global--wide-size)) / 4));
	}
}

.block-right-screen-background-text {
	border-radius: 40px;
	transform: translateX(calc(1 * (100vw - var(--wp--style--global--wide-size)) / 4));

	> * {
		transform: translateX(calc(-1 * (100vw - var(--wp--style--global--wide-size)) / 4));
		width: calc(100% - ((100vw - var(--wp--style--global--wide-size)) / 4));
		padding-left: calc(20px + ((100vw - var(--wp--style--global--wide-size)) / 4));
	}
}

.sponsors {
	display: flex;
	flex-wrap: wrap;
}

.ressource-gauche-container-title {
	transform: translateX(calc(-1 * (100vw - var(--wp--style--global--wide-size)) - 13rem));

	h2 {
		padding: 2rem 12.78rem 0.5rem 12.78rem;
		border-radius: 50px;
	}
}

.ressource-gauche-container {
	border: 1px solid var(--wp--preset--color--contrast);
	border-radius: 40px;
	padding: 1rem;
	width: 100vw;
	transform: translateX(calc(-1 * (100vw - var(--wp--style--global--wide-size)) + 16rem));

	> * {
		transform: translateX(calc(1 * (100vw - var(--wp--style--global--wide-size)) - 16rem));
	}

	.container-ressources-card {
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;
	}
}
