.ressource-card {
	border: 2px solid var(--wp--preset--color--quinary);
	border-radius: 40px;
	padding: 1rem;
	width: 20rem;

	p {
		font-size: var(--wp--preset--font-size--small);
	}

	h4 {
		margin-top: 0;
	}

	.wp-block-button {

		text-align: right;

		> * {
			background: none;
			color: var(--wp--preset--color--quinary);
			font-size: var(--wp--preset--font-size--small);
			text-decoration: underline;
			padding: 0;
		}

		::after {
			content: ">";
			position: relative;
			top: 0;
		}
	}
}
