.container-article {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.container-article .list-articles {
	display: inline-flex;
	flex-wrap: wrap;
	gap: 1rem;
	justify-content: center;
	align-items: center;
}

.link-card-blog {
	border: 1px solid var(--wp--preset--color--contrast);
	padding: 1rem;
}

.has-text-align-right {
	width: 100%;
}
